<ion-content>
  <ion-card>
    <ion-card-title>Conhecendo os nutrientes</ion-card-title>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Carboidrato: O grande combustível do nosso organismo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="../../../../assets/img/abaEducativa/Healthy options-rafiki.png" alt="NotFound.png"><br>
      <span class="linkImg">Fonte: <a href="https://storyset.com/" target="_blank">storyset.com</a></span><br><br>
      &nbsp;Os carboidratos são substâncias encontradas principalmente em alimentos de origem vegetal.<br><br>
      &nbsp;Eles fornecem a maior parte da energia necessária para a manutenção de todas as atividades das pessoas,
      principalmente a cerebral.<br><br>
      &nbsp;Após serem ingeridos são rapidamente convertidos em glicose, exceto as fibras.<br><br>
      &nbsp;Os carboidratos podem ser divididos em três tipos: <span>açúcares</span>, <span>amidos</span> e
      <span>fibras</span>.
    </ion-card-content>

  </ion-card>

  <img src="../../../../assets/img/abaEducativa/carb/CARBOIDRATOS.png" alt="NotFound.png">

  <ion-card class="lastCard">
    <ion-card-content>
      <div>
        <details>
          <summary class="fonte">Fontes</summary>
          <span id="fonte">Referência: Manual de Nutrição – SBD. Endereço: <a href="https://diabetes.org.br/"
              target="_blank">www.diabetes.org.br</a>. Acesso em 18/06/2014. <br> Diretrizes da Sociedade Brasileira de
            Diabetes – SBD. Endereço: <a href="https://diabetes.org.br/" target="_blank">www.diabetes.org.br</a>. Acesso
            em 18/06/2014.</span>
        </details>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>