<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title id="mainTitle">O que é diabetes?</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content align="justify">
      &nbsp;É uma doença caracterizada pela elevação da glicose no sangue (hiperglicemia). Pode ocorrer devido a
      defeitos na secreção ou na ação do hormônio insulina, que é produzido no pâncreas.<br>
    </ion-card-content>

  </ion-card>

  <img src="../../../../assets/img/abaEducativa/diabetes/DIABETES(3).png" alt="NotFound.png"><br>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Qual a função da insulina?</ion-card-title>
    </ion-card-header>

    <ion-card-content align="justify">
      &nbsp; A função da insulina é promover a entrada de glicose para as células do organismo de forma que ela possa
      ser aproveitada para as diversas atividades celulares.
      <br><br>
      &nbsp; A ausência da insulina ou um defeito na sua ação resulta, portanto, em acúmulo de glicose no sangue, o que
      chamamos de hiperglicemia.
      <br>
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Como diagnosticar?</ion-card-title>
    </ion-card-header>

    <ion-card-content align="justify">
      <span class="subtitle">Exame de rotina</span><br><br>
      &nbsp; Para realizar o diagnóstico, basta fazer um exame de sangue tirando apenas uma gota do seu sangue e já é
      possível saber se há alguma alteração na taxa de glicemia. <br><br>
      <span class="subtitle">Diagnóstico</span><br><br>
      &nbsp; Caso a alteração seja considerável, será necessária a realização de outros exames, mais aprofundados. Para
      ter certeza do resultado e começar o tratamento, o médico deve solicitar o teste oral de tolerância à glicose,
      mais conhecido como Curva Glicêmica.<br><br>
      &nbsp; O exame é feito em diversas etapas, em que são coletadas amostras de sangue em um tempo determinado,
      geralmente de 30 em 30 minutos. Nos intervalos, o paciente deve ingerir um xarope de glicose.
      <br>
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Como tratar?</ion-card-title>
    </ion-card-header>

    <ion-card-content align="justify">

      &nbsp;O principal é controlar o nível de glicose no sangue, para evitar complicações.<br><br>
      &nbsp;A medição pode ser feita por meio de um monitor de glicemia ou por bombas de insulina que devem ser
      adquiridos e usados com orientação da equipe multidisciplinar. <br><br>
      &nbsp;Deve-se seguir as orientações para que a medição seja feita nos horários corretos, nas situações e na
      frequência ideal. Com esses dados, é possível tomar as melhores decisões.
      <br><br>

      <ion-list>
        <ion-item>
          A glicemia normal em jejum não deverá ultrapassar os 100 mg/dL;
        </ion-item>
        <ion-item>
          Se o resultado ultrapassar 126mg/dL, com certeza é diabetes;
        </ion-item>
        <ion-item>
          Duas horas após uma refeição, a glicemia não deverá ultrapassar 140 mg/dL.
        </ion-item>
      </ion-list>

      <br>
      <div>
        <details>
          <summary>Fontes</summary>
          <span class="ref"><a href="https://diabetes.org.br/diagnostico-e-tratamento/"
              target="_blank">https://diabetes.org.br/diagnostico-e-tratamento/</a> </span>
        </details>
      </div>
    </ion-card-content>

  </ion-card>

  <div class="img-Flex">
    <img id="imgDica" src="../../../../assets/img/abaEducativa/diabetes/OFICIAL_MERDA.png" alt="NotFound.png">
  </div>
</ion-content>