<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aba Educativa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-content" [fullscreen]="true">

  <img src="../../assets/img/abaEducativa/Book lover-pana.png" alt="NotFound.png">

  <ion-button class="border-radius" (click)="asDIB()">Diabetes</ion-button>
  <ion-button class="border-radius" (click)="asIG()">Índice Glicêmico</ion-button>
  <ion-button class="border-radius" (click)="asCARB()">Carboidratos</ion-button>
  <ion-button class="border-radius" (click)="asAE()">Água e Exercícios Físicos</ion-button>
  <ion-button class="border-radius" id="final-button" (click)="asMV()">Mitos e Verdades</ion-button>

</ion-content>