<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Consumo da água e de exercícios físicos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Por que a água é uma boa parceria para os diabéticos?</ion-card-subtitle>
    </ion-card-header>

    <img src="../../../../assets/img/abaEducativa/Healthy lifestyle-amico.png" alt="NotFound.png"><br>
    <ion-card-content>
      <span class="linkImg">Fonte: <a href="https://storyset.com/" target="_blank">storyset.com</a></span><br><br>
      &nbsp;O consumo de água proporciona maior controle do nível de glicose no sangue.<br><br>
      &nbsp;A falta de ingestão da água pode trazer riscos para quem tem diabetes. Porque esse grupo é mais propenso a
      ter desidratação.<br><br>
      &nbsp;Mesmo tendo consumido bebidas com adição de açúcar, se ingerir também a água é possível o controle da
      diabetes.<br><br>
    </ion-card-content>

  </ion-card>

  <ion-card class="lastCard">

    <ion-card-header>
      <ion-card-subtitle>Mas e os exercícios físicos?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="../../../../assets/img/abaEducativa/ae/EXERCÍCIO.png" alt="NotFound.png"><br>
      <span class="linkImg">Fonte: <a href="https://storyset.com/" target="_blank">storyset.com</a></span><br><br>
      &nbsp;Exercícios físicos regulares ajudam a baixar as taxas de glicemia.<br><br>
      &nbsp;Quando você gasta energia, o organismo usa o açúcar do sangue em velocidade maior.<br><br>
      &nbsp;O monitoramento do nível de glicose no sangue é importante também na prática de esportes, que deve ser feita
      sob orientação da equipe multidisciplinar.<br><br>
      &nbsp;Se você não estiver se exercitando e for começar, consulte um médico antes. Ele pode indicar a atividade
      mais apropriada – o objetivo é fazer alguma coisa que você goste.<br><br>
      &nbsp;A atividade física não precisa ser na academia. Caminhadas e percursos de bicicleta podem ser ótimas
      opções.<br><br>

      <div>
        <details>
          <summary>Fontes</summary>
          <span>1. Sociedade Brasileira de Diabetes. Exercício físico e diabetes mellitus.
            Diretrizes da Sociedade Brasileira de Diabetes 2019-2020. São Paulo: Clannad; 2019. p. 146-152.</span>
        </details>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>