<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mitos e verdades</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!--MITO 1-->
  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>“Carnes em geral, queijos e ovos não possuem açúcar, por isso podem ser consumidos à vontade.”
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="false">MITO</span> – Apesar de não serem fontes de carboidratos, esses alimentos são ricos em
      proteínas e gorduras, que se consumidos em excesso, também interferem na glicemia. Além disso, o consumo abusivo
      desses alimentos pode elevar os níveis de colesterol e o peso.<br><br>
    </ion-card-content>

  </ion-card>
  <!--MITO 2-->

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>"Para reduzir o carboidrato do pão basta deixá-lo fora da geladeira por de 1-2 dias e assim a
        pessoa com diabetes poderá comer à vontade sem que a glicemia se altere.”</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="false">MITO</span> – O pão ou qualquer outro cereal fermentado na geladeira ou fora desta, não tem
      seu teor carboidrato reduzido. Portanto procure seguir as recomendações do seu nutricionista em relação a
      quantidade e forma de consumo dos alimentos. <br><br>
    </ion-card-content>

  </ion-card>
  <!--MITO 3-->

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>“O tratamento hipoglicemia (glicemia abaixo de 70) deve ser feito com 150 ml de refrigerante
        comum ou 150 ml de suco comum ou 01 colher de sopa de açúcar”</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="true">VERDADE</span> – O tratamento da hipoglicemia com uma das alternativas acima eleva em média 50
      pontos na glicemia. Evite tratar a hipoglicemia com chocolates, biscoitos recheados e outra guloseimas, pois estes
      alimentos contém altos teores de gordura, que retardam a elevação da glicemia. <br><br>
    </ion-card-content>

  </ion-card>
  <!--MITO 4-->

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>“É possível curar o diabetes.”</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="false">MITO</span> – Existem vários estudos sérios para achar a cura, mas nada ainda que 
      possa ser afirmado. “Portanto, cuidado com falsas promessas disseminadas na internet”, reforça  Dra. Andressa. <br><br>
    </ion-card-content>

  </ion-card>

  <!--MITO 5-->

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>“Só obesos têm diabetes tipo 2.”</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="false">MITO</span> – embora o sobrepeso seja um fator, não é causa única. A doença  
      também está associada ao histórico da família e à idade. Muitas pessoas consideradas magras também 
      são diabéticas. <br><br>
    </ion-card-content>

  </ion-card>

  <!--MITO 6-->

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>“Não é fácil saber os sinais do diabetes.”</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="true">VERDADE</span> – Os sintomas do diabetes não são claros e variam de uma pessoa 
      para outra. É importante fazer exames de rotina para saber os fatores de risco e obter diagnóstico preciso. <br><br>
    </ion-card-content>

  </ion-card>
  <!--MITO X - ULTIMO -->

  <ion-card class="lastCard">

    <ion-card-header>
      <ion-card-subtitle>“Pessoas com diabetes não podem comer frutos regionais do norte, como o açaí, pupunha e
        tucumã.” </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span class="false">MITO</span> – Não existem frutos proibidos para pessoas com diabetes, apesar do alto teor
      energético, podem ser consumidos, desde que inseridos no plano alimentar saudável. <br><br>
      <br>
      <div>
        <details>
          <summary>Fontes</summary>
          <span class="ref"><a href="https://diabetes.org.br/mitos-e-verdades/"
              >https://diabetes.org.br/mitos-e-verdades/</a></span>
          <span class="ref"><a href="https://www.sbemsp.org.br/para-o-publico/noticias/131-o-assunto-e-diabetes-mitos-e-verdades"
              >https://www.sbemsp.org.br/para-o-publico/noticias/131-o-assunto-e-diabetes-mitos-e-verdades</a></span>
              
        </details>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>