<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title id="mainTitle">Índice glicêmico</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-card-content>
      <img src="../../../../assets/img/abaEducativa/ig/Melted ice cream-amico (1).png" alt="NotFound.png"><br>
      <span class="linkImg">Fonte: <a href="https://storyset.com/" target="_blank">storyset.com</a></span><br><br>
      &nbsp;O índice glicêmico (IG) é um valor dado aos alimentos com base na velocidade com que os níveis de glicose
      (açúcar) aumentam no sangue após sua ingestão.<br><br>
      &nbsp;É uma medição que indica maior ou menor potencial de um alimento para elevar a glicemia.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      &nbsp;Por exemplo, o suco de laranja possui alta velocidade de absorção pelo corpo e também alta concentração de
      açúcar natural (frutose). Sua ingestão faz com que os níveis de glicose aumentem rapidamente e por isso é
      considerado um alimento de alto índice glicêmico.<br>
      <img id="img1" src="../../../../assets/img/abaEducativa/ig/LARANJA_IG.png" alt="NotFound.png">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      &nbsp;Já o feijão, por exemplo, possui fibras e precisa ser digerido e metabolizado pelo corpo, ou seja, um
      processo mais demorado. Por isso a absorção de glicose é lenta, assim, possui baixa velocidade para virar açúcar e
      ser absorvida pelo nosso corpo, portanto tem um baixo índice glicêmico.<br>
      <img id="img2" src="../../../../assets/img/abaEducativa/ig/FEIJÃO_IG.png" alt="NotFound.png">
    </ion-card-content>
  </ion-card>

  <ion-card class="lastCard">

    <ion-card-header>
      <ion-card-title>Para que serve o IG?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      &nbsp;O IG é utilizado principalmente na elaboração de um plano alimentar para auxiliar no controle glicêmico.
      Outra indicação é no auxílio do equilíbrio ou perda de peso. <br><br>
      &nbsp;Os alimentos de baixo IG demoram mais para serem digeridos e para haver a quebra das moléculas de glicose,
      que vai permanecer mais tempo na corrente sanguínea, aumentando a sensação de saciedade.<br><br>
      &nbsp;O pâncreas dos diabéticos não secreta ou não produz a quantidade adequada de hormônio insulina, que controla
      os índices de glicose no sangue. Se o paciente não receber a injeção de insulina para suprir essa deficiência, ao
      consumir alimentos com alto IG ele pode sofrer picos elevados de açúcar no sangue.
      <br><br>
      <div>
        <details>
          <summary>Fontes</summary>
          <span><a
              href="https://www.uol.com.br/vivabem/noticias/redacao/2018/12/28/indice-glicemico-afeta-diabeticos-e-quem-quer-emagrecer-entenda-melhor.htm"
              target="_blank">https://www.uol.com.br/vivabem/</a></span>
        </details>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>